*.c linguist-language=C
*.cpp linguist-language=C++
*.python linguist-language=Python
*.ipynb linguist-language=Jupyter Notebook
*.md linguist-language=Markdown
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.json linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.java linguist-language=Java
*.sql linguist-language=MySQL
*.v linguist-language=Verilog
